*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
html{
  scroll-behavior: smooth;
}
.header{
  height: 80px;
  background: #6F7A8A;
  padding: 0 20px;
  color: #fff;

}
.logo{
  line-height: 80px;
  float: left;
  padding-left: 250px;
  color: #00D646;
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
}
.logoimg{
margin-left: -20px;
padding-top: 5px;
height: 80px;
width: 80px;

}

.menu{
  float: right;
  padding-right: 150px;
  line-height: 80px;
  z-index: 10;
}
.menu a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #00D646;
}
#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

@media screen and (max-width:800px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .logo{
    padding-left: 10px;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
    z-index: 10;
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu{
    right: 0;
  }
}
.section{
    width: 100%;
  height: 960px;
  background-image: url('bk6.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  z-index: -10;
}
.section-overlay{
  position: absolute;
  background-color: rgba(51, 59, 80, 0.6);
  height: 100%;
  width: 100%;
  z-index: -5;
}
.comma{
  color: #00D646;
}
.contact-box{
  position: absolute;
  width: 940px;
  height: auto;
  background-color: #333B50;
  margin: auto;
  top: 30%;
  left: 0;
  right: 0;
  z-index: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width:800px){
 .contact-box{
  top: 18%;
  width: 100%;
 } 
 .contact-form{
  text-align: center;
  align-items: center;
z-index: 0;
margin-top: 5%;
 }
 #form-control{
  width: 300px;
  background: #fff;
  border: none;
  outline: none;
  font-size: 11px;
  padding: 8px 3px 8px 3px;
  border-bottom: 1px solid black;
  margin-bottom: 16px;
}
#form-control-submit{
  background: #00D646;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10px;
  width: 70px;
  padding: 8px 3px;
  text-transform: uppercase;
}
}
.contact-title{
  color: #fff;
  font-family: "montserrat",sans-serif;
}
.contact-title p{
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 2px;
  margin-top: 10%;
  text-align: center;
}
.contact-title h1{
  padding-left: 10%;
  font-size: 32px;
}
.contact-info p{
  padding-left: 10%;
  color: #fff;
  padding-right: 10%;
  padding-top: 2%;
}
.contact-form{
  text-align: center;
  align-items: center;
  margin-top: 5%;
  z-index: 0;
}
.form-control{
  width: 500px;
  background: #fff;
  border: none;
  outline: none;
  font-size: 16px;
    padding: 10px 5px 10px 5px;
  border-bottom: 1px solid black;
  margin-bottom: 16px;
}
form .submit{
  background: #00D646;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 20px;
  width: 510px;
  text-transform: uppercase;
}
form .submit:hover{
  background: #6F7A8A;
}

footer{
  background: #808080;
  width: 100%;
  height: auto;
  padding: 20px 0;
}
.footer-social{
  width: 100%;
  height: auto;
  margin: auto;
}
.footer-social ul{
  margin: 0;
  padding: 0;
  text-align: center;
}
.footer-social ul li{
  display: inline-block;
  margin: 30px 10px;
}
.footer-menu{
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 20px;
}
.footer-menu ul{
  margin: 0;
  padding: 0;
  text-align: center;
}
.footer-menu ul li{
  display: inline-block;
  margin: 0px 20px;
}
.footer-menu ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.footer-menu ul li a:hover{
  color: #00D646;
}
.footer-details{
  margin: 0;
  padding: 0;
  margin-top: 20px;
  text-align: center;
}
.footer-details p{
  color: #333B50;
}
