*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
html{
  scroll-behavior: smooth;
}
.header{
  height: 80px;
  background: #6F7A8A;
  padding: 0 20px;
  color: #fff;

}
.logo{
  line-height: 80px;
  float: left;
  padding-left: 250px;
  color: #00D646;
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
}
.logoimg{
margin-left: -20px;
padding-top: 5px;
height: 80px;
width: 80px;

}

.menu{
  float: right;
  padding-right: 150px;
  line-height: 80px;
  z-index: 10;
}
.menu a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #00D646;
}
#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

@media screen and (max-width:800px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .logo{
    padding-left: 10px;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
    z-index: 10;
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu{
    right: 0;
  }
}
.section{
  width: 100%;
  height: 800px;
  background-image: url('bk7.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  z-index: -10;
}
.section-overlay{
  position: absolute;
  background-color: rgba(51, 59, 80, 0.6);
  height: 100%;
  width: 100%;
  z-index: -5;
}
.comma{
  color: #00D646;
}
.caption {
  position:absolute;
  top:55%;
  left:50%;
  transform:translate(-50%,-50%);
  color:#fff;
  text-align:center;
}
#demo{
  font-size: 70px;
}
.brand {
   font-weight:700;
   border-radius:25px;
  font-size:70px;
}
.type-cursor { 
    color:#fff; 
    animation:blink .5s ease infinite;
    opacity:0; 
    font-size: 70px;
}
 @keyframes blink {
  100% { 
    opacity:1;
   }
 }
 @media screen and (max-width:800px){
  .caption{
    position: absolute;
    top: 50%;
    transform:translate(-50%,-50%);
  color:#fff;
  text-align:center;
  }
  #demo{
  font-size: 21px;
}
.brand {
   font-weight:700;
   border-radius:25px;
  font-size:21px;
}
.type-cursor { 
    color:#fff; 
    animation:blink .5s ease infinite;
    opacity:0; 
    font-size: 21px;
}
@keyframes blink {
  100% { 
    opacity:1;
   }
 }
}
.main-content{
  width: 100%;
  top: -25%;
  height: auto;
  background-color: #333B50;
}
.web-designs{
  padding-top: 5%;
  color: #fff;
  font-size: 25px;
}
.web-designs h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #00d646 ;
    font-family: Playfair Display;
}
.webpro{
  padding-left: 12%;
  padding-top: 3%;
}
.webpro1{
  padding-left: 12%;
  padding-right: 12%;
}
.webpro2{
  padding-left: 12%;
}
.webpro3{
  padding-left: 12%;
  padding-bottom: 6%;
}
.webpro4{
  padding-left: 12%;
}
.webpro5{
  padding-left: 12%;
}
.webpro6{
  padding-left: 12%;
  padding-bottom: 6%;
}







.webpro p:nth-child(1){

    font-family: playfair display;
    font-size: 1.65em;
    color: #fff;
    letter-spacing: .01em;
    font-weight: 500;
}
.webpro1 p:nth-child(1){

    font-family: playfair display;
    font-size: 1.65em;
    color: #fff;
    letter-spacing: .01em;
    font-weight: 500;
}
.webpro2 p:nth-child(1){

    font-family: playfair display;
    font-size: 1.65em;
    color: #fff;
    letter-spacing: .01em;
    font-weight: 500;
}
.webpro3 p:nth-child(1){

    font-family: playfair display;
    font-size: 1.65em;
    color: #fff;
    letter-spacing: .01em;
    font-weight: 500;
}
.webpro4 p:nth-child(1){

    font-family: playfair display;
    font-size: 1.65em;
    color: #fff;
    letter-spacing: .01em;
    font-weight: 500;
}
.webpro5 p:nth-child(1){

    font-family: playfair display;
    font-size: 1.65em;
    color: #fff;
    letter-spacing: .01em;
    font-weight: 500;
}
.webpro6 p:nth-child(1){

    font-family: playfair display;
    font-size: 1.65em;
    color: #fff;
    letter-spacing: .01em;
    font-weight: 500;
}






.webpro p{
  color: #fff;
  font-size: 20px;
  padding-top: 2%;
}
.webpro1 p{
  color: #fff;
  font-size: 20px;
  padding-top: 2%;
}
.webpro2 p{
  color: #fff;
  font-size: 20px;
  padding-top: 2%;
}
.webpro3 p{
  color: #fff;
  font-size: 20px;
  padding-top: 2%;
}
.webpro4 p{
  color: #fff;
  font-size: 20px;
  padding-top: 2%;
}
.webpro5 p{
  color: #fff;
  font-size: 20px;
  padding-top: 2%;
}
.webpro6 p{
  color: #fff;
  font-size: 20px;
  padding-top: 2%;
}






.webpro a{
  text-decoration: none;
  color: #00d646;
  font-size: 20px;
  padding-top: 1%;
  padding-left: 15%;
  text-decoration: underline;
  text-decoration-color: #fff ;
}
.webpro1 a{
  text-decoration: none;
  color: #00d646;
  font-size: 20px;
  padding-top: 1%;
  padding-left: 15%;
  text-decoration: underline;
  text-decoration-color: #fff ;
}
.webpro2 a{
  text-decoration: none;
  color: #00d646;
  font-size: 20px;
  padding-top: 1%;
  padding-left: 15%;
  text-decoration: underline;
  text-decoration-color: #fff ;
}
.webpro3 a{
  text-decoration: none;
  color: #00d646;
  font-size: 20px;
  padding-top: 1%;
  padding-left: 15%;
  text-decoration: underline;
  text-decoration-color: #fff ;
}
.webpro4 a{
  text-decoration: none;
  color: #00d646;
  font-size: 20px;
  padding-top: 1%;
  padding-left: 15%;
  text-decoration: underline;
  text-decoration-color: #fff ;
}
.webpro5 a{
  text-decoration: none;
  color: #00d646;
  font-size: 20px;
  padding-top: 1%;
  padding-left: 15%;
  text-decoration: underline;
  text-decoration-color: #fff ;
}
.webpro6 a{
  text-decoration: none;
  color: #00d646;
  font-size: 20px;
  padding-top: 1%;
  padding-left: 15%;
  text-decoration: underline;
  text-decoration-color: #fff ;
}














.comma1{
  color: #00D646;
  font-size: 15px;
  font-weight: 500;
}
.hr1{
  border: 1px solid #00d646;
  width: 90%;
  margin-left:5%; 
  margin-top: 3%;
  margin-bottom: 3%;
}
@media screen and (max-width:800px){
  .main-content{
    width: 100%;
    }
    .section{
      height: 600px;
    }
    .web-designs{
      font-size: 11px;
    }
    .webpro{
      padding-left: 5%;
    }
    .webpro p{
      font-size: 12px;
    }
    .webpro a{
      font-size: 12px;
    }
    .webpro1{
      padding-left: 5%;
    }
    .webpro1 p{
      font-size: 12px;
    }
    .webpro1 a{
      font-size: 12px;
    }
    .webpro2{
      padding-left: 5%;
    }
    .webpro2 p{
      font-size: 12px;
    }
    .webpro2 a{
      font-size: 12px;
    }
    .webpro3{
      padding-left: 5%;
    }
    .webpro3 p{
      font-size: 12px;
    }
    .webpro3 a{
      font-size: 12px;
    }
    .webpro4{
      padding-left: 5%;
    }
    .webpro4 p{
      font-size: 12px;
    }
    .webpro4 a{
      font-size: 12px;
    }
    .webpro5{
      padding-left: 5%;
    }
    .webpro5 p{
      font-size: 12px;
    }
    .webpro5 a{
      font-size: 12px;
    }
    .webpro6{
      padding-left: 5%;
    }
    .webpro6 p{
      font-size: 12px;
    }
    .webpro6 a{
      font-size: 12px;
    }
}




.mySlides{
  display: none;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  padding-top: 5%;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #00D646;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #00D646;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

footer{
  background: #6F7A8A;
  width: 100%;
  height: auto;
  padding: 20px 0;
}
.footer-menu{
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 20px;
}
.footer-menu ul{
  margin: 0;
  padding: 0;
  text-align: center;
}
.footer-menu ul li{
  display: inline-block;
  margin: 0px 20px;
}
.footer-menu ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.footer-menu ul li a:hover{
  color: #00D646;
}
.footer-details{
  margin: 0;
  padding: 0;
  margin-top: 20px;
  text-align: center;
}
.footer-details p{
  color: #333B50;
}

.contact-social{
  
  text-align: center;
  align-items: center;
}
.contact-social ul li {
  display: inline-block;
}
.contact-social ul li{
  padding-left: 15px;
}
.contact-social ul li a{
  color: #fff;
}
#linkedin{
  color: #0077B5;
}
#linkedin:hover{
  color: #fff;
}
#twitter{
  color: #00acee;
}
#twitter:hover{
  color: #fff;
}
#facebook{
  color: #3b5998;
}
#facebook:hover{
  color: #fff;
}
#github{
  color: #000;
}
#github:hover{
  color: #fff;
}
#codepen{
  color: #000;
}
#codepen:hover{
  color: #fff;
}
#dribble{
  color: #ea4c89;
}
#dribble:hover{
  color: #fff;
}
